main 
    width: 100%
    height: 100%

    display: flex
    align-items: center
    justify-content: center
    .start-display
        width: 100%
        height: 100%
        background-image: url(../../public/assets/img/winningBckg.jpg)
        position: center
        background-size: 1500px 800px

        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        .mario-logo
            width: 680px
            height: 250px
            animation: bounce 2s ease
            animation-iteration-count: infinite
            margin-top: 80px
        @keyframes bounce
            0%   
                transform: translateY(0)
            50%  
                transform: translateY(-20px)
            100% 
                transform: translateY(0)
        .start
            width: 300px
            height: 80px
            background-color: #ffcb05
            border: 7px solid black
            border-radius: 10px
            margin-top: 10px
            filter: drop-shadow(5px 15px 15px #222)
            
            display: flex
            justify-content: center
            align-items: center
            p
                color: black
                font-size: 35px
                margin: 0
                padding: 0
                font-family: SuperMarioBros-ov7d
        .start:hover
            background-color: #409fdb
            border: 7px solid #ffcb05
            p
                color: white
        .mario-start
            position: absolute
            bottom: 97px
            left: 40px
            width: 270px
            height: 400px
        .bounceMario
            animation: mariobounce 1s ease
            animation-iteration-count: infinite
        @keyframes mariobounce
            0%   
                transform: translateY(0)
            50%  
                transform: translateY(-30px)
            100% 
                transform: translateY(0)
    .hide 
        display: none
    