.winning-display
    width: 100%
    height: 100%
    background-image: url(../../public/assets/img/winningBckg.jpg)
    position: center
    background-size: 1500px 800px

    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .cheering-peach-and-mario
        width: 50%
        height: 70%

        display: flex
        justify-content: center
        align-items: flex-start
        gap: 30px
        .winning-mario
            width: 300px
            height: 300px
            filter: drop-shadow(5px 15px 15px #222)
            animation: bounce 1s ease
            animation-iteration-count: infinite
        @keyframes bounce
            0%   
                transform: translateY(0)
            50%  
                transform: translateY(-10px)
            100% 
                transform: translateY(0)
    .bomb-with-banner
        width: 100%
        height: 100%
        position: absolute
        left: -1000px
        z-index: 30
        animation: mover 12s ease 
        animation-fill-mode: forwards

        display: flex
        justify-content: center
        align-items: center
        .great-job-box
            width: 100%
            height: 150px
            background-color: rgba(0,0,0,.5)
            filter: drop-shadow(5px 15px 15px #222)

            display: flex
            justify-content: center
            align-items: center
            h1
                color: white
                padding: 0
                margin: 0
                font-family: SuperMarioBros-ov7d
        .bomb
            width: 400px
            height: 300px
        @keyframes mover
            0%
                transform: translateX(0)
            100%
                transform: translateX(2500px)
.hide
    display: none

                


